.inventario{
    position:absolute;
display:flex;
border-radius:10px;    
flex-wrap:wrap;
margin:0 auto;
max-width:600px;
background-color:blue;
width:700px;
height:800px;
}

.inventario >div{
flex: 1 1 200px;
margin:10px;
    
}

img{
    display:block;
    max-width:100%;
width:50%;    
height:80%;
}
img::hover{
border:50px solid;    
    
    
}
